@model IEnumerable<SneakerInside.Models.ImageProductGetAll>

@{
    ViewData["Title"] = "Danh sách " + @ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Danh sách @ViewBag.Name</h3>
    </div>
    <div class="card-body">
        <table id="mainTable" class="table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th style="text-align: center">
                        <button type="button" class="btn btn-success" onclick="createModal()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var dataTable, tempId;
        var createStr = "Thêm mới " + "@ViewBag.Name";
        var updateStr = "Chỉnh sửa " + "@ViewBag.Name";
        var deleteStr = "Xóa " + "@ViewBag.Name";

        //Lấy dữ liệu lên bảng
        $(document).ready(function () {
            dataTable = $('#mainTable').DataTable({
                ajax: {
                    url: '@Url.Action("GetAll", "ImageProduct")',
                    type: 'GET',
                    datatype: 'json'
                },
                columns: [
                    {
                        data: 'imageID',
                        render: function (data) {
                            return '<button type="button" class="btn btn-info" onclick="updateModal(' + data + ')"><i class="fas fa-edit"></i></button ><button type = "button" class="btn btn-danger" style = "margin-left:5px" onclick = "deleteModal(' + data + ')"><i class="fas fa-trash-alt"></i></button >';
                        },
                        orderable: false,
                        width: '100px'
                    },
                    {
                        data: 'image',
                        render: function (data) {
                            return '<img src="/Images/' + data + '" asp-append-version="true" width="300" />';
                        },
                        orderable: false,
                    },
                    {
                        data: 'productName'
                    }
                ]
            });
        });

        //Hàm hiện modal thêm
        function createModal() {
            url = "@Url.Action("Create", "ImageProduct")";
            showCommonModal(url, createStr);
        }

        //Hàm hiện modal sửa
        function updateModal(data) {
            url = "@Url.Action("Update", "ImageProduct")/" + data;
            showCommonModal(url, updateStr);
        }

        //Hàm hiện modal xóa
        function deleteModal(data) {
            tempId = data;
            showDeleteModal();
        }

        //Hàm thực hiện thêm
        function submitCreate(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                submitForm(form, createStr);
            }
            return false;
        }

        //Hàm thực hiện sửa
        function submitUpdate(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                submitForm(form, updateStr);
            }
            return false;
        }

        //Hàm thực hiện xóa
        function submitDelete() {
            url = "@Url.Action("Delete", "ImageProduct")/" + tempId,
            submitDeleteForm(url, deleteStr);
        }
    </script>
}