@model IEnumerable<SneakerInside.Models.Catalog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<Catalog> ListCatalog = new List<Catalog>();
    //ListCatalog = ViewBag.ListCatalog;
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Danh sách hãng giày</h3>
    </div>
    <div class="card-body">
        <table id="catalogTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th style="text-align: center">
                        <button type="button" class="btn btn-success" onclick="showModal('@Url.Action("Create","Catalog",null,Context.Request.Scheme)','Thêm mới hãng giày')">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            @*<tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CatalogID
                            </td>
                            <td>
                                @item.CatalogName
                            </td>
                            <td>
                                @if (item.Status == 1)
                                {
                                    <p>Hoạt động</p>
                                }
                                else
                                {
                                    <p>Không hoạt động</p>
                                }
                            </td>
                            <td style="text-align: center">
                                <a asp-action="Edit" asp-route-id="@item.CatalogID" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.CatalogID" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>*@
        </table>
    </div>
</div>

<!-- Modal thêm, sửa-->
<div class="modal fade" id="commonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        //Lấy dữ liệu lên bảng
        var dataTable;
        $(document).ready(function () {
            dataTable = $('#catalogTable').DataTable({
                processing: true,
                ajax: {
                    url: '/Catalog/GetAll',
                    dataSrc: ''
                },
                columns: [
                    { data: 'catalogID' },
                    { data: 'catalogName' },
                    {
                        data: 'status',
                        render: function (data) {
                            return data ? "Hoạt động" : "Không hoạt động";
                        }
                    },
                    {
                        data: 'catalogID',
                        render: function (data) {
                            return '<button type="button" class="btn btn-warning" onclick="showModal(' + @Url.Action("Edit", "Catalog",data,Context.Request.Scheme) + ')"><i class="fas fa-edit"></i></button>';
                        }
                    }
                ]
            });
        });

        //Hàm hiện modal thêm, sửa
        function showModal(url, title) {
            $.ajax({
                type: "GET",
                url: url,
                success: function (res) {
                    $("#commonModal .modal-body").html(res);
                    $("#commonModal .modal-title").html(title);
                    $("#commonModal").modal('show');
                }
            })
        }

        //Hàm thực hiện thêm mới
        function create(form) {
            try {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.isValid) {
                            $("#commonModal .modal-body").html('');
                            $("#commonModal .modal-title").html('');
                            $("#commonModal").modal('hide');
                            dataTable.ajax.reload();
                        }
                        else {
                            $("#commonModal .modal-body").html(res.html);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
            catch (e) {
                console.log(e);
            }
            return false;
        }
    </script>
}