@model IEnumerable<SneakerInside.Models.Catalog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<Catalog> ListCatalog = new List<Catalog>();
    //ListCatalog = ViewBag.ListCatalog;
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Danh sách hãng giày</h3>
    </div>
    <div class="card-body">
        <table id="catalogTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th style="text-align: center">
                        <button type="button" class="btn btn-success" onclick="createCatalog()"><i class="fas fa-plus"></i></button>
                        @*<a onclick="showCatalogModal('@Url.Action("Create","Catalog",null,Context.Request.Scheme)', 'Thêm mới danh mục',)" class="btn btn-success">
                            <i class="fas fa-plus"></i>
                        </a>*@
                    </th>
                </tr>
            </thead>
            @*<tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CatalogID
                            </td>
                            <td>
                                @item.CatalogName
                            </td>
                            <td>
                                @if (item.Status == 1)
                                {
                                    <p>Hoạt động</p>
                                }
                                else
                                {
                                    <p>Không hoạt động</p>
                                }
                            </td>
                            <td style="text-align: center">
                                <a asp-action="Edit" asp-route-id="@item.CatalogID" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.CatalogID" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>*@
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="catalogModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="catalogModalBody">

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#catalogTable').DataTable({
                processing: true,
                ajax: {
                    url: '/Catalog/GetAll',
                    dataSrc: ''
                },
                columns: [
                    { data: 'catalogID' },
                    { data: 'catalogName' },
                    {
                        data: 'status',
                        render: function (data) {
                            return data ? "Hoạt động" : "Không hoạt động";
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<button id="' + row.catalogID + '" type="button" class="btn btn-danger getID" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>';
                        }
                    }
                ]
            });
        });

        function createCatalog() {
            $.ajax({
                type: "GET",
                url: "/Catalog/Create",
                success: function (res) {
                    $("#catalogModalBody").html(res);
                    $("#catalogModal").modal('show');
                }
            })
        }

        //showCatalogModal = (url, title) => {
        //    $.ajax({
        //        type: "GET",
        //        url: url,
        //        success: function (res) {
        //            $("#catalogModal .modal-body").html(res);
        //            $("#catalogModal .modal-title").html(title);
        //            $("#catalogModal").modal('show');
        //        }
        //    })
        //}

        //createCatalog = form => {
        //    try {
        //        $.ajax({
        //            type: "POST",
        //            url: form.action,
        //            data: new FormData(form),
        //            contentType: false,
        //            processData: false,
        //            success: function (res) {
        //                if (res.isValid) {
        //                    $("#catalogModal .modal-body").html('');
        //                    $("#catalogModal .modal-title").html('');
        //                    $("#catalogModal").modal('hide');
        //                }
        //                else {
        //                    $("#catalogModal .modal-body").html(res.html);
        //                }
        //            },
        //            error: function (err) {
        //                console.log(err);
        //            }
        //        })
        //    }
        //    catch (e) {
        //        console.log(e);
        //    }
        //    return false;
        //}

        //function create() {
        //    var modal = $("catalogModal");
        //    var form = $('form[name="catalogForm"]');
        //    $.ajax({
        //        type: "POST",
        //        url: "/Catalog/Create",
        //        data: form.serialize(),
        //        success: function (res) {
        //            if (res) {
        //                modal.modal('hide');
        //            }
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    })
        //}
    </script>
}