@model SneakerOutside2.Models.ProductGetInfo
@{
    ViewData["Title"] = "ProductDetail";
}

<div class="container p-5">
    <div class="row">
        <div class="col-7">
            @foreach (var item in ViewBag.listImages)
            {
                <img src="@("https://localhost:44344/Images/" + item.Image)" class="img-fluid" />
            }
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h3>@Model.ProductName</h3>
                </div>
                <div class="card-body">
                    <h3 class="card-title" id="price">0 VNĐ</h3>
                    <div class="row">
                        <div class="col-12 pb-4">
                            @foreach (var item in ViewBag.listSizes)
                            {
                                <input type="radio" class="btn-check" name="options-size" id="@("danger-outlined-" + item.SizeID)" autocomplete="off" onclick="chooseSize(@item.SizeID,@item.Price)">
                                <label class="btn btn-outline-secondary" for="@("danger-outlined-" + item.SizeID)">@item.SizeName</label>
                            }
                        </div>
                        <div class="col-12 pb-4">
                            <button class="btn btn-dark col-12 btn-lg" id="add-to-card">Thêm vào giỏ hàng</button>
                        </div>
                        <hr />
                        <div class="col-12">
                            <h4>Thông tin sản phẩm</h4>
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var tempSizeID;

        function chooseSize(sizeID, Price) {
            tempSizeID = sizeID;
            $("#price").text(Price.toLocaleString() + " VNĐ");
        }

        $(document).ready(function () {
            $("#add-to-card").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Product/AddToCart",
                    data: {
                        ProductID: @Model.ProductID,
                        SizeID: tempSizeID
                    },
                    success: function (res) {
                        if (res.errorCode == 0) {
                            $.bootstrapGrowl(res.errorMessage, {
                                type: 'success'
                            });
                        }
                        else {
                            $.bootstrapGrowl(res.errorMessage, {
                                type: 'danger'
                            });
                        }
                    }
                });
            });
        });
    </script>
}
